.principal{background:linear-gradient(to left, black, #34FB15, black);
         text-align:center ;
         padding:10%;
         font-size: 2rem;
         color:white
         
          
           
          }